<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/css/style.css")
        if task === 'encombrant'
            link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
        title Document
    body
        header
            h1
                a(href="/") trashApp
            nav
                ul
                    li
                        a(href="/") Accueil
                    li
                        a(href="/admin") Administration