include includes/header.pug

main#admin-login
    
    h2 Panneau d'administration
    form.active(action="" autocomplete='off')
        .input-row
            label(for='input-adminPassword') Mot de passe
            input(type='password' id='input-adminPassword' name='adminPassword' required)
        .input-row
            input(class='main-button' type='submit' value='Connexion')

script(type='text/javascript' src="/js/admin-login.js")
        