include includes/header.pug
main#hero
    h2 Votre nouveau service pour des rues plus propres !
    .button-row
        a(class='main-button' href='/requete/encombrant') Demander l'enlèvement d'un encombrant à mon domicile
        a(class='main-button' href='/requete/depot') Signaler un dépôt sauvage d'ordures sur la voie publique
    hr
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ratione debitis qui molestiae nihil repellat vel neque, voluptas voluptates non? Facilis harum exercitationem mollitia similique a nesciunt.
    .button-row
        a(class='main-button secondary-button' href='') Carte des centres de tri de Bordeaux Métropole
        a(class='main-button secondary-button' href='') Fonctionnalité à venir
        