#hero
    background: url('/img/nature.svg') no-repeat right -1px bottom -1px / 550px
    padding: 0 120px
    display: flex
    flex-direction: column
    justify-content: center
    padding-bottom: 0
    h2
        margin: unset
        font-size: 2rem
        text-align: left
        margin-bottom: 40px
    hr
        height: 80px
    p
        margin-bottom: 40px
    .main-button
        max-width: 300px
    .button-row
        display: flex
        & > a:first-of-type
            margin-right: 40px

#encombrant
    background: url('/img/encombrant.svg') no-repeat right 40px bottom 40px / 600px

#depot
    background: url('/img/depot.svg') no-repeat right 40px bottom 40px / 600px
    #map
        height: 400px
        width: 100%
        max-width: 600px

#success
    background: url('/img/done.svg') no-repeat right 40px bottom 50% / 650px
    article
        width: 50%
        background-color: rgb(240,240,240)
        padding: 15px
        h3
            margin-bottom: 20px

@media screen and (max-width: 1300px)
    header
        padding: 0 80px
    main
        padding: 40px 80px !important
        background-image: none !important
    hr
        height: 40px !important

@media screen and (max-width: 1000px)
    html, body, main
        overflow-y: unset
        height: unset
    header
        padding: 0 40px
    main
        display: flex
        flex-direction: column
        align-items: center
        padding: 40px !important
        background-image: none !important
    // #depot
    #admin
        width: 100% !important
        .address:hover
            filter: unset !important
            cursor: unset !important
        #map
            display: none
    h2
        text-align: center !important
    hr
        height: 20px !important

@media screen and (max-width: 750px)
    .button-row
        flex-direction: column
        .main-button
            margin-right: unset !important

@media screen and (max-width: 550px)
    header
        #hamburger
            display: block !important
        ul  
            display: none
            flex-direction: column
            background-color: white
            padding-bottom: 20px
            padding-right: 20px
            position: absolute
            top: 80px
            right: 0px
            &.active
                display: flex
    main
        padding: 40px 20px !important

@media screen and (max-width: 350px)
    main
        padding: 20px 10px !important

@media screen and (min-width: 1200px)
    #depot #map
        position: absolute !important
        height: 100%
        bottom: 0px
        right: 0px
        max-width: unset
        width: 700px
